PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb://localhost:27017/meetlead
JWT_SECRET=change_this_to_a_long_random_string
JWT_EXPIRES_IN=30d
ADMIN_EMAIL=admin@meetlead.com
ADMIN_PASSWORD=Admin@123
CLIENT_URL=http://localhost:3000
